.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.inputField input {
  border: 1px solid rgb(72, 68, 68);
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0;
  color: white;
}

.timerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2.5rem;
}

.timerIcons button {
  all: unset;
  transform: translateY(5px);
}

.timerIcons button:hover {
  cursor: pointer;
}
